<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awere Stuff | Contatos</title>
    <link rel="stylesheet" th:href="@{CSS/main.css}">
</head>

<body>
    <header>

        <input type="checkbox" id="check">
        <label id="icone" for="check"><img th:src="@{Imagens/NavButtom.png}" alt="navegação"></label>

        <a th:href="@{/register}" id="buttom-Register">Criar uma conta</a>
 
        <div class="barra">
            <nav>
                <ul class="menu">
                    <a th:href="@{/index}">
                        <li>Home</li>
                    </a>
                    <a th:href="@{/sobre}">
                        <li>Sobre</li>
                    </a>
                    <a th:href="@{/produtos}">
                        <li>Produtos</li>
                    </a>
                    <a th:href="@{/contatos}">
                        <li>Contato</li>
                    </a>
                </ul>
            </nav>
        </div>

        <div id="logo-div">
            <img id="logo" th:src="@{Imagens/Logo.png}" alt="Logo">
        </div>

    </header>
    
    <img id="banner" th:src="@{Imagens/Banner.png}" alt="Banner">

    <ul class="menu-horizontal">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/sobre}">Sobre</a></li>
        <li><a th:href="@{/produtos}">Produtos</a></li>
        <li><a th:href="@{/contatos}">Contatos</a></li>
    </ul>
    
    <form method="POST" th:action="@{contatos}" th:object="${calc}">
    	N1: <input type="number" th:field="*{n1}"><br>
    	N2: <input type="number" th:field="*{n2}">
    	<input type="submit" name="Calcular">
    </form>
    
    <footer>
        Desenvolvido por: Caio Silva, Laryssa Lisboa e Lucas Beserra
        <!-- <h1>Soma de dois números</h1>
    	<div th:text="${'O resultado da soma é ' + Resultado}"></div> -->

    </footer>
</body>

</html>