<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awere Stuff</title>
    <link rel="stylesheet" th:href="@{CSS/main.css}">
</head>

<body>
    <header>

        <input type="checkbox" id="check">
        <label id="icone" for="check"><img th:src="@{Imagens/NavButtom.png}" alt="navegação"></label>

        <div class="barra">
            <nav>
                <ul class="menu">
                    <a th:href="@{/index}">
                        <li>Home</li>
                    </a>
                    <a th:href="@{/sobre}">
                        <li>Sobre</li>
                    </a>
                    <a th:href="@{/produtos}">
                        <li>Produtos</li>
                    </a>
                    <a th:href="@{/contatos}">
                        <li>Contato</li>
                    </a>
                </ul>
            </nav>
        </div>

        <div id="logo-div">
            <img id="logo" th:src="@{Imagens/Logo.png}" alt="Logo">
        </div>

    </header>

    <img id="banner" th:src="@{Imagens/Banner.png}" alt="Banner">

    <ul class="menu-horizontal">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/sobre}">Sobre</a></li>
        <li><a th:href="@{/produtos}">Produtos</a></li>
        <li><a th:href="@{/contatos}">Contatos</a></li>
    </ul>

    <main>
        <div id="destaques">
            <h1>Destaques</h1>

            <div class="produto-destaque">
                <div class="imagem">
                    <img th:src="@{Imagens/Produto1.png}" alt="Produto01">
                </div>
                <div class="texto">
                    <h3>Suco de Laranja Campo Largo</h3>
                    <p>O Suco de Laranja Campo Largo é feito com frutas selecionadas. A laranja é uma fruta cítrica rica
                        em minerais. Além disso, ela possui uma boa variedade de vitaminas, como A, B, C e E. A fruta
                        aumenta a produção de enzimas digestivas no corpo, colaborando com os processos digestivos,
                        principalmente de proteínas. O selo BPA FREE indica que um produto é livre de Bisfenol A, uma
                        substância que representa risco à nossa saúde e que está presente em diversos produtos e
                        embalagens de plástico. Nós temos o compromisso com o seu bem-estar, por isso todas as nossas
                        embalagens plásticas são BPA FREE.</p>
                </div>
            </div>

            <div class="produto-destaque">
                <div class="imagem">
                    <img th:src="@{Imagens/Produto2.png}" alt="Produto02">
                </div>
                <div class="texto">
                    <h3>Kit Biquini neon + Bucket hat</h3>
                    <p>O kit biquini neon da pantys chegou, ideal para fluxo moderado e oferece ao seu ciclo mais
                        conforto e segurança.
                        Nossa tecnologia patenteada de absorção é a única clinicamente, dermatologicamente e
                        ginecologicamente testada no mundo todo. As camadas de tecido do forro proporcionam
                        muito mais segurança, qualidade e aquela sensação de toque seco, o que faz com que você se sinta
                        muito mais confortável durante o período menstrual. as pantys são super high-tech, laváveis,
                        reutilizáveis, confortáveis, higiênicas, modernas, sustentáveis, tudo de bom! possuem tecidos de
                        secagem rápida, impermeáveis, respiráveis, biodegradáveis e anti-bactérias, que absorvem todo
                        tipo de líquido, como menstruação, suor, escapes leves de bexiga, corrimento e outros fluídos
                        naturais! você vai amar! ah, todos os forros absorventes internos são de tecido preto.</p>
                </div>
            </div>

            <div class="produto-destaque">
                <div class="imagem">
                    <img th:src="@{Imagens/Produto3.png}" alt="Produto03">
                </div>
                <div class="texto">
                    <h3>Esfoliante Dermo Detox</h3>
                    <p>Informações sobre o produto03</p>
                </div>
            </div>

        </div>

        <aside>
            <h2>Por que consumir produtos sustentáveis?</h2>
            <ol class="motivos-sustentaveis">
                <li>Menor uso de recursos naturais.</li>
                <li>Menor impacto no ambiente considerando o curto, médio e longo prazo.</li>
                <li>Menor investimento ao longo do tempo.</li>
                <li>Possibilidade de reutilizar o material.</li>
                <li>Maior qualidade de vida para as próximas gerações.</li>
            </ol>

        </aside>
    </main>

    <footer>
        Desenvolvido por: Caio Silva, Laryssa Lisboa e Lucas Beserra
    </footer>
</body>

</html>