<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awere Stuff</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>

        <img id="logo" src="/static/Imagens/Logo.png" alt="Logo">

        <button>Encontre seu produto</button>
    </header>

    <img id="banner" src="/static/Imagens/Banner.png" alt="Banner">

    <main> 
        <h1>Destaques</h1>

        <div class="produto-destaque">
            <img src="/static/Imagens/Produto.png" alt="Produto01">
            <h3>Produto01</h3>
            <p>Informações sobre o produto01</p>
        </div>

        <div class="produto-destaque">
            <img src="/static/Imagens/Produto.png" alt="Produto02">
            <h3>Produto02</h3>
            <p>Informações sobre o produto02</p>
        </div>

        <div class="produto-destaque">
            <img src="/static/Imagens/Produto.png" alt="Produto03">
            <h3>Produto03</h3>
            <p>Informações sobre o produto03</p>
        </div>
    </main>

    <aside>
        <h2>Por que consumir produtos sustentáveis?</h2>
        <ol class="motivos-sustentaveis">
            <li>Motivo01</li>
            <li>Motivo02</li>
            <li>Motivo03</li>
            <li>Motivo04</li>
            <li>Motivo05</li>
        </ol>
    </aside>

    <footer>
        Desenvolvido por: Caio Silva, Laryssa Lisboa e Lucas Beserra
    </footer>
</body>
</html>