<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awere Stuff | Produtos</title>
    <link rel="stylesheet" th:href="@{CSS/main.css}">
</head>

<body>
    <header>

        <input type="checkbox" id="check">
        <label id="icone" for="check"><img th:src="@{Imagens/NavButtom.png}" alt="navegação"></label>

        <a th:href="@{/register}" id="buttom-Register">Criar uma conta</a>
 
        <div class="barra">
            <nav>
                <ul class="menu">
                    <a th:href="@{/index}">
                        <li>Home</li>
                    </a>
                    <a th:href="@{/sobre}">
                        <li>Sobre</li>
                    </a>
                    <a th:href="@{/produtos}">
                        <li>Produtos</li>
                    </a>
                    <a th:href="@{/contatos}">
                        <li>Contato</li>
                    </a>
                    <a th:href="@{/perfil}">
                        <li>Perfil</li>
                    </a>
                </ul>
            </nav>
        </div>

        <div id="logo-div">
            <img id="logo" th:src="@{Imagens/Logo.png}" alt="Logo">
        </div>

    </header>

    <img id="banner" th:src="@{Imagens/Banner.png}" alt="Banner">

    <ul class="menu-horizontal">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/sobre}">Sobre</a></li>
        <li><a th:href="@{/produtos}">Produtos</a></li>
        <li><a th:href="@{/contatos}">Contatos</a></li>
    </ul>
    
    <main> 
    	<table class="table-srtiped">
    		<thead class="ttop">
    			<tr class="table-info">
    				<td><b> ID</b></td>
    				<td><b> Produto</b></td>
    				<td><b> Descrição</b></td>
    				<td><b> Certificação Sustentável</b></td>
    				<td><b> Ponto de venda</b></td>
    				<td><b> </b></td>
    				<td><b> </b></td>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="prod : ${produtos}">
    				<td th:text="${prod.id}"></td>
    				<td><a th:href="${'/produto/'+prod.id}" th:text="${prod.nproduc}"></a></td>
    				<td th:text="${prod.ndescricao}"></td>
    				<td th:text="${prod.nselo}"></td>
    				<td th:text="${prod.npontovenda}"></td>
    				<td>
    					<a th:href="@{'upd/' + ${prod.id}}">
    						Editar
    					</a>
    				</td>
    				<td> 
    					<form th:action="@{'apagar/produto/' + ${prod.id}}" method="post">
    						<input type="submit" value="X">
    					</form>
    				</td>
    			</tr>
    		</tbody>
    	</table >
    </main>
    
    <footer>
        Desenvolvido por: Caio Silva, Laryssa Lisboa e Lucas Beserra
    </footer>
</body>

</html>