<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'Awere Stuff | ' + nproduc}"></title>
    <link rel="stylesheet" th:href="@{/CSS/main.css}">
    <link rel="stylesheet" th:href="@{/CSS/register.css}">
    <link rel="stylesheet" th:href="@{/CSS/apresenta.css}">
</head>

<body>
    <header>

        <input type="checkbox" id="check">
        <label id="icone" for="check"><img th:src="@{/Imagens/NavButtom.png}" alt="navegação"></label>

        <a th:href="@{/register}" id="buttom-Register">Criar uma conta</a>
 
        <div class="barra">
            <nav>
                <ul class="menu">
                    <a th:href="@{/index}">
                        <li>Home</li>
                    </a>
                    <a th:href="@{/sobre}">
                        <li>Sobre</li>
                    </a>
                    <a th:href="@{/produtos}">
                        <li>Produtos</li>
                    </a>
                    <a th:href="@{/contatos}">
                        <li>Contato</li>
                    </a>
                    <a th:href="@{/perfil}">
                        <li>Perfil</li>
                    </a>
                </ul>
            </nav>
        </div>

        <div id="logo-div">
            <img id="logo" th:src="@{/Imagens/Logo.png}" alt="Logo">
        </div>

    </header>

    <img id="banner" th:src="@{/Imagens/Banner.png}" alt="Banner">

    <ul class="menu-horizontal">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/sobre}">Sobre</a></li>
        <li><a th:href="@{/produtos}">Produtos</a></li>
        <li><a th:href="@{/contatos}">Contatos</a></li>
    </ul>

	<main> 
		<div class="Foto">
			<img th:src="@{/Imagens/FotoProd.png}" id="produtoImagem"><br>
		</div>
		<div class="descricao">
			<h1 th:text="${nproduc}"></h1><br>
			<p th:text="${ndescricao}"></p>
			<p style="visibility: hidden; ">abcdefghijklmnopqrstuvwxyz abcdefghijklmnopqrstuvwxyz abcdefghijklmnopqrstuvwxyz abcdefghijklmnopqrstuvwxyz</p>
		</div>
		<div class="pontoVenda">
			<h2>Pontos de venda</h2>
			
			<p th:text="${npontovenda}"></p>
			<strong>Certificações sustentáveis:</strong><p th:text="${nselo}"></p>
			<p style="visibility: hidden;">abcdefghijklmnopqrstuvwxyz</p>
	
			<a th:href="@{/registerproduct}" id="registrarProd">Registre um produto</a>
		</div  >
	</main>

</body>

</html>