<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awere Stuff | Registrar</title>
    <link rel="stylesheet" th:href="@{CSS/main.css}">
    <link rel="stylesheet" th:href="@{CSS/register.css}">
</head>

<body>
    <header>

        <input type="checkbox" id="check">
        <label id="icone" for="check"><img th:src="@{Imagens/NavButtom.png}" alt="navegação"></label>

        <a th:href="@{/register}" id="buttom-Register">Criar uma conta</a>
 
        <div class="barra">
            <nav>
                <ul class="menu">
                    <a th:href="@{/index}">
                        <li>Home</li>
                    </a>
                    <a th:href="@{/sobre}">
                        <li>Sobre</li>
                    </a>
                    <a th:href="@{/produtos}">
                        <li>Produtos</li>
                    </a>
                    <a th:href="@{/contatos}">
                        <li>Contato</li>
                    </a>
                    <a th:href="@{/perfil}">
                        <li>Perfil</li>
                    </a>
                </ul>
            </nav>
        </div>

        <div id="logo-div">
            <img id="logo" th:src="@{Imagens/Logo.png}" alt="Logo">
        </div>

    </header>

    <img id="banner" th:src="@{Imagens/Banner.png}" alt="Banner">

    <ul class="menu-horizontal">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/sobre}">Sobre</a></li>
        <li><a th:href="@{/produtos}">Produtos</a></li>
        <li><a th:href="@{/contatos}">Contatos</a></li>
    </ul>

    <form th:action="@{register}" method="POST" th:object="${usuario}">
    	<div id="formH1"> 
        	<h1>Crie uma conta</h1>
        	<p>Suas informações não serão compartilhadas com terceiros</p>
        </div>
        <input type="text" name="nFirstName" id="iFirstName" th:field="*{nFirstName}" required placeholder="Primeiro Nome">
        <input type="text" name="nLastName" id="iLastName" th:field="*{nLastName}" required placeholder="Último Nome"><br>
        <input type="email" name="nEmail" id="iEmail" th:field="*{nEmail}" required placeholder="Seu Email" height="1px" size="47"><br>
        <input type="password" name="nSenha" id="iSenha" th:field="*{nSenha}" required placeholder="Sua Nova Senha" size="47"><br>

        <input type="submit" value="Registrar" id="iRegister">
        
    </form>

</body>

</html>